/*
* additional.css píšou PHPkáři,
* kodér by to mohl postupně přesouvat do jeho css souborů
*
* obsah:
* 1) společné pro betor (návrh),
* 2) společné pro bbas (váže se ke kódu, který je v bbas),
*/

/* ------------------------- 1) společné pro betor -------------------------- */

h3{
	margin: 0px 0 0 0;
}

select{
	height: 32px /* jako input type text */
}

/* menší select (použito v ticketu) */
select.smaller-select{
	height: 22px;
}

/* styl zvýraznění chyběl u některých selektorů
(v případě potřeby dopsat další) */
.form-error input[type='password'], .form-error select{
	background-color: #cc6
}
label[for], .pac-item/* v registraci, google maps autocomplete */{
	cursor: pointer
}
label[for='salutation-f']{
	margin-left: 16px;
}
label[for='salutation-f'], label[for='salutation-m']{
	font-size: 16px !important;
}
input[type='radio']{
	margin: 0 5px 3px 0;
}
/* výška p na welcome page */
.box p {
	height: 90px;
}
/* minimální výška boxu pro hlášku (danger, success,...) - aby bylo místo na obrázek */
.alert {
	min-height: 62px;
}
.datetime-date {
	display: inline;
	width: 90px !important
}
.datetime-time {
	display: inline-block;
	width: 60px !important
}
/* úpravy tooltipu - k funkčnosti pro delší text a průhlednost */
.tooltip > .tooltip-inner {
	white-space: normal;
}
.tooltip.in {
	filter: alpha(opacity=80);
	opacity: 0.9;
}

/* layout simple */
/* jen obrázek, bez místa pro header */
body.simple {
	background-position: 0 0px;
	padding-top: 20px;
}
.m0a {
	margin: 0 auto;
}

legend {
	border:none;
	font-size: 14px;
	color: #fff
}

#welcome p.welcome-big {
	font-size: 40px;
}

#welcome .wrapper {
    padding-left: 700px;
}

/* -------------------------- 2) společné pro bbas -------------------------- */

/* registrace - oblast s checkboxy a buttonem */
#reg-final{
	margin: 3px
}
#reg-final div{
	padding-top: 20px;
	text-align: center
}
#reg-final div.reg-chck{
	padding-top: 30px;
}
#reg-final label,#reg-final a{
	font-size: 18px;
}
#reg-final label{
	margin-left: 5px
}
#reg-final input{
	margin-bottom: 9px
}

/* captcha img: v případě chyby se aplikovaly styly vykřičníku */
#regform img[width]{
	position: static;
	top: auto;
	right: auto;
}

#captcha input{
	width: 157px;
}

#withdrawBankToken-label, #depositCardToken-label {
	display: none
}

.cell-label {
	width: 30%;
}

.cell-label label {
	padding: 0 5px 3px 0;
}

/*stránkování*/
.pager {
	left: 0;
	position: relative;
}
.lister-navigation-post {
    display: inline-block;
    float: left;
    font-size: 13px;
}
.pager .page, .pager2 .page {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0 1px;
    text-align: center;
}
.page input {
    background-color: transparent;
    border: medium none;
    color: #d6b46a;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-decoration: none;
	margin: 0 8px;
	font-size: 18px;
}
.page input.active {
	color: #cc6
}
.page input {
	color: #fff
}
.page .arrow-right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #cccc66;
}

.page .arrow-left {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #cccc66 transparent transparent;
}

#forbiddenCountryAlert,#addressNotComplete,#invalidAddressAlert{
	display: none
}

.ico-sport:before{ background-image: url(../images/icons/sports.png); }
.ico-amfootball:before{ background-position: 0 0; }
.ico-badminton:before{ background-position: 0 -20px; }
.ico-baseball:before{ background-position: 0 -40px; }
.ico-basketball:before{ background-position: 0 -60px; }
.ico-boxing:before{ background-position: 0 -80px; }
.ico-floorball:before{ background-position: 0 -100px; }
.ico-golf:before{ background-position: 0 -120px; }
.ico-handball:before{ background-position: 0 -140px; }
.ico-icehockey:before{ background-position: 0 -160px; }
.ico-racing:before{ background-position: 0 -180px; }
.ico-rugby:before{ background-position: 0 -200px; }
.ico-soccer:before{ background-position: 0 -220px; }
.ico-tabletennis:before{ background-position: 0 -240px; }
.ico-tennis:before{ background-position: 0 -260px; }
.ico-volleyball:before{ background-position: 0 -280px; }

#t1006:before{ background-position: 0 -60px; }
#t1011:before{ background-position: 0 -160px; }
#t1029:before{ background-position: 0 -180px; }
#t1015:before{ background-position: 0 -200px; }
#t1001:before{ background-position: 0 -220px; }
#t1020:before{ background-position: 0 -140px; }
#t1027:before{ background-position: 0 -300px; }
#t1003:before{ background-position: 0 -260px; }
#t1013:before{ background-position: 0 -280px; }
#t1022:before{ background-position: 0 -100px; }
#t1035:before{ background-position: 0 -140px; }
#t1016:before{ background-position: 0 -240px; }

.active-rate a {
	background: #CC6; 
	color: #333;
}
.table>tbody>tr>td.active-rate {
	background: #CC6; 
	color: #333;
}

td.pozor, ul.errors {
	display: none
}
.errBg{
	background-color: #cc2200;
	color: #ffe55e !important;
}

/* ticket */
#ticket-pin {
	float: right
}
.msg_warn{
	padding:15px 10px 0 10px;
	text-align: center
}
span.match-win-amount{
	float: none !important;
}
.ticket-padding{
	padding: 12px 15px;
}
.mc-spacing input[type=text] {
	width: 60px;
}
.mc-spacing label, .mc-spacing input {
	margin-right: 20px 
}
.nastavit-vklad {
	color: gray
}
.nastavit-vklad a {
	margin-right: 3px;
	color: #1d2a09;
	font-style: italic;
	text-decoration: underline
}

.ico-flag:before {
}

.f-247:before{ background-image: url(/images/flags/small/CzechRepublic.png); }
.bigf-247:before{ background-image: url(/images/flags/big/CzechRepublic.png); }
.f-248:before{ background-image: url(/images/flags/small/Germany.png); }
.bigf-248:before{ background-image: url(/images/flags/big/Germany.png); }
.f-536:before{ background-image: url(/images/flags/small/England.png); }
.bigf-536:before{ background-image: url(/images/flags/big/England.png); }
.f-304:before{ background-image: url(/images/flags/small/Denmark.png); }
.bigf-304:before{ background-image: url(/images/flags/big/Denmark.png); }
.f-250:before{ background-image: url(/images/flags/small/France.png); }
.bigf-250:before{ background-image: url(/images/flags/big/France.png); }
.f-432:before{ background-image: url(/images/flags/small/Sweden.png); }
.bigf-432:before{ background-image: url(/images/flags/big/Sweden.png); }
.f-351:before{ background-image: url(/images/flags/small/Italy.png); }
.bigf-351:before{ background-image: url(/images/flags/big/Italy.png); }
.f-315:before{ background-image: url(/images/flags/small/Finland.png); }
.bigf-315:before{ background-image: url(/images/flags/big/Finland.png); }
.f-354:before{ background-image: url(/images/flags/small/Japan.png); }
.bigf-354:before{ background-image: url(/images/flags/big/Japan.png); }
.f-342:before{ background-image: url(/images/flags/small/Hungary.png); }
.bigf-342:before{ background-image: url(/images/flags/big/Hungary.png); }
.f-405:before{ background-image: url(/images/flags/small/Norway.png); }
.bigf-405:before{ background-image: url(/images/flags/big/Norway.png); }
.f-249:before{ background-image: url(/images/flags/small/Poland.png); }
.bigf-249:before{ background-image: url(/images/flags/big/Poland.png); }
.f-263:before{ background-image: url(/images/flags/small/Austria.png); }
.bigf-263:before{ background-image: url(/images/flags/big/Austria.png); }
.f-533:before{ background-image: url(/images/flags/small/Scotland.png); }
.bigf-533:before{ background-image: url(/images/flags/big/Scotland.png); }
.f-313:before{ background-image: url(/images/flags/small/Spain.png); }
.bigf-313:before{ background-image: url(/images/flags/big/Spain.png); }
.f-291:before{ background-image: url(/images/flags/small/Switzerland.png); }
.bigf-291:before{ background-image: url(/images/flags/big/Switzerland.png); }
.f-245:before{ background-image: url(/images/flags/small/usa.png); }
.bigf-245:before{ background-image: url(/images/flags/big/usa.png); }
.f-261:before{ background-image: url(/images/flags/small/Argentina.png); }
.bigf-261:before{ background-image: url(/images/flags/big/Argentina.png); }
.f-264:before{ background-image: url(/images/flags/small/Australia.png); }
.bigf-264:before{ background-image: url(/images/flags/big/Australia.png); }
.f-308:before{ background-image: url(/images/flags/small/Ecuador.png); }
.bigf-308:before{ background-image: url(/images/flags/big/Ecuador.png); }
.f-485:before{ background-image: url(/images/flags/small/israel.png); }
.bigf-485:before{ background-image: url(/images/flags/big/israel.png); }
.f-302:before{ background-image: url(/images/flags/small/Cyprus.png); }
.bigf-302:before{ background-image: url(/images/flags/big/Cyprus.png); }
.f-404:before{ background-image: url(/images/flags/small/Netherlands.png); }
.bigf-404:before{ background-image: url(/images/flags/big/Netherlands.png); }
.f-420:before{ background-image: url(/images/flags/small/Portugal.png); }
.bigf-420:before{ background-image: url(/images/flags/big/Portugal.png); }
.f-425:before{ background-image: url(/images/flags/small/Romania.png); }
.bigf-425:before{ background-image: url(/images/flags/big/Romania.png); }
.f-426:before{ background-image: url(/images/flags/small/RussianFederation.png); }
.bigf-426:before{ background-image: url(/images/flags/big/RussianFederation.png); }
.f-437:before{ background-image: url(/images/flags/small/Slovakia.png); }
.bigf-437:before{ background-image: url(/images/flags/big/Slovakia.png); }
.f-458:before{ background-image: url(/images/flags/small/Turkey.png); }
.bigf-458:before{ background-image: url(/images/flags/big/Turkey.png); }
.f-463:before{ background-image: url(/images/flags/small/Ukraine.png); }
.bigf-463:before{ background-image: url(/images/flags/big/Ukraine.png); }
.f-470:before{ background-image: url(/images/flags/small/Venezuela.png); }
.bigf-470:before{ background-image: url(/images/flags/big/Venezuela.png); }
.f-279:before{ background-image: url(/images/flags/small/Brazil.png); }
.bigf-279:before{ background-image: url(/images/flags/big/Brazil.png); }

.f-497:before{ background-image: url(/images/flags/497_international_clubs.png); }
.bigf-497:before{ background-image: url(/images/flags/497_international_clubs.png); }
.f-508:before{ background-image: url(/images/flags/508_rugbyunion.png); }
.bigf-508:before{ background-image: url(/images/flags/508_rugbyunion.png); }
.f-492:before{ background-image: url(/images/flags/492_international.png); }
.bigf-492:before{ background-image: url(/images/flags/492_international.png); }
.f-537:before{ background-image: url(/images/flags/537_fedcup.png); }
.bigf-537:before{ background-image: url(/images/flags/537_fedcup.png); }

/* === top match backgrounds === */
.match-badminton{ background-image: url(../images/live_badminton.jpg); }
.match-baseball{ background-image: url(../images/live_baseball.jpg); }
.match-basketball{ background-image: url(../images/live_basketball.jpg); }
.match-beach{ background-image: url(../images/live_beach.jpg); }
.match-hockey{ background-image: url(../images/live_hockey.jpg); }
#live1001{ background-image: url(../images/live_soccer.jpg); }
.match-table-tennis{ background-image: url(../images/live_table_tennis.jpg); }
#live1013{ background-image: url(../images/live_tennis.jpg); }

.match-date {
	width:60px;
}

.topmatch{
	padding-top: 15px;
}

div .contentbox.show-more {
	/*margin-top: -5px;*/
}

.live-soccer tr { background-color: rgba(73,101,22,0.5); }
.live-icehockey tr { background-color: rgba(10,27,75,0.5); }
.live-tennis tr { background-color: rgba(153,63,0,0.5); }
.live-basketball tr { background-color: rgba(89,0,16,0.5); }
.live-badminton tr { background-color: rgba(59,99,91,0.5); }
.live-tabletennis tr { background-color: rgba(56,41,77,0.5); }
.live-baseball tr { background-color: rgba(96,99,23,0.5); }
.live-volleyball tr { background-color: rgba(39,52,134,0.5); }

h3 .live-soccer { background-color: rgba(73,101,22,0.5); }
h3 .live-icehockey { background-color: rgba(10,27,75,0.5); }
h3 .live-tennis { background-color: rgba(153,63,0,0.5); }
h3 .live-basketball { background-color: rgba(89,0,16,0.5); }
h3 .live-badminton { background-color: rgba(59,99,91,0.5); }
h3 .live-tabletennis { background-color: rgba(56,41,77,0.5); }
h3 .live-baseball { background-color: rgba(96,99,23,0.5); }
h3 .live-volleyball { background-color: rgba(39,52,134,0.5); }

#articleContent{
	margin-top: 10px
}
.float-left-img{
	float: left;
	margin: 0 10px 10px 0;
}
#article-detail-date{
	font-weight: bold;
	margin-right: 5px
}