@charset "utf-8";
body{
	background-image: url(../images/body_bg_volleyball.jpg);
}
.live-score, .nav-tabs > li.active{
	background-image: url(../images/live_score_volleyball.jpg) !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
	color: #b0b5d1;
}
h2.contentbox, .boxheader{
	border-bottom: 1px solid #aab0d3;
}
#left .nav.live a.parent{
	background-color: #7a81ac;
	border-top: 1px solid #aab0d3;
}
#left .nav.live a.parent:hover, #left .nav.live a.parent:focus{
	background-color: #676d91;
}
.nav-tabs > li {
	background-color: #7a81ac !important;
}
.nav-tabs > li a{
	color: #d5daf2 !important;
}
.nav-tabs li a:hover, .nav-tabs li a:focus{
	background: #8b93c4;
}
.live-info, .match-info{
	color: #8b93c4;
}
.odds a.selected{
	background-color: #aab0d3;
}
.live-score .live-score-result .number{
	background-position: 0 -336px;
}
.live-score .live-score-result .colon{
	background-position: -105px 0;
}
.live-details .table > thead > tr > th{
	background: #273486;
	color: #bdbfd7 !important;
}
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td,
.table > thead > tr > th, .table > thead > tr > th, .table > thead > tr > th {
	border-color: rgba(189,191,215,0.2) !important;
}
.live-details .table > thead > tr > td, .live-details .table > tbody > tr > td, .live-details .table > tfoot > tr > td,
.live-details .table > thead > tr > th, .live-details .table > thead > tr > th, .live-details .table > thead > tr > th {
	border-color: rgba(189,191,215,0.3) !important;
}
.live-details{
	border-top: 1px solid rgba(189,191,215,0.3);
}
