<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">

<head>
	<meta http-equiv="content-language" content="cs" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="CompBet" />
	<meta name="keywords" content="" />
	<title>Newsletter</title>
	
	<style>
	  body { font-family: Arial, Helvetica, sans-serif; }
	</style>
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="width: 900px;margin: 0 auto;">

<table id="Table_01" width="900" height="1362" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin:0; padding:0;">
	<tr style="line-height: 0;">
		<td colspan="9">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_01.png" width="900" height="137" alt=""></td>
	</tr>
	<tr style="line-height: 0;">
		<td colspan="9" style="background-image: url('https://www.compbet.com/images/newsletters/newsletter_doregistrace_02.png'); width:900px;height:62px;">
			<div style="margin: 40px 0 0 40px; height:22px;">
				<h3 style="font-family:"Trebuchet MS", Helvetica, sans-serif; font-size:18px;"><?= $_SESSION['osloveni'] ?></h3>
			</div>
		</td>
	</tr>
	<tr style="line-height: 0;">
		<td colspan="9">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_03.png" width="900" height="125" alt=""></td>
	</tr>
	<tr style="line-height: 0;">
		<td colspan="3" style="background-image: url('https://www.compbet.com/images/newsletters/newsletter_doregistrace_04.png'); width:346px;height:80px;">
			<div style="margin: 0 0 0 40px; height:42px;">
				<label style="font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:20px; font-weight:bold;"><strong><?= $_SESSION['branch_name'] ?></strong></label><br/>
				<label style="font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:20px; "><?= $_SESSION['branch_street'] ?><br/>
				<?= $_SESSION['branch_town'] . ' ' .  $_SESSION['branch_zip'] ?></label>
			</div>

		<td colspan="6">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_05.png" width="554" height="80" alt=""></td>
	</tr>
	<tr style="line-height: 0;">
		<td colspan="9">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_06.png" width="900" height="112" alt=""></td>
	</tr>
	<tr style="line-height: 0;">
		<td colspan="6">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_07.png" width="460" height="58" alt=""></td>
		<td colspan="2">
			<a href="https://www.compbet.com/cs/" target="_BLANK"><img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_08.png" width="267" height="58" alt=""></a></td>
		<td>
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_09.png" width="173" height="58" alt=""></td>
	</tr>
	<tr style="line-height: 0;">
		<td colspan="9">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_10.png" width="900" height="208" alt=""></td>
	</tr>
	<tr style="line-height: 0;">
		<td colspan="2">
			<img src="https://www.compbet.com/images/newsletters//newsletter_doregistrace_11.png" width="238" height="27" alt=""></td>
		<td colspan="3">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_12.png" width="204" height="27" alt=""></td>
		<td colspan="4">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_13.png" width="458" height="27" alt=""></td>
	</tr>
	<tr style="line-height: 0;">
		<td colspan="2">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_14.png" width="238" height="129" alt=""></td>
		<td colspan="2">
			<a href="https://www.compbet.com/cs/pobocky/" target="_BLANK"><img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_15.png" width="143" height="129" alt=""></a></td>
		<td colspan="5">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_16.png" width="519" height="129" alt=""></td>
	</tr>
	<tr style="line-height: 0;">
		<td>
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_17.png" width="78" height="65" alt=""></td>
		<td colspan="6">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_18.png" width="498" height="65" alt=""></td>
		<td colspan="2">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_19.png" width="324" height="65" alt=""></td>
	</tr>
	<tr style="line-height: 0;">
		<td colspan="9">
			<img src="https://www.compbet.com/images/newsletters/newsletter_doregistrace_20.png" width="900" height="358" alt=""></td>
	</tr>
	<tr style="line-height: 0;">
		<td>
			<img src="https://www.compbet.com/images/newsletters/spacer.gif" width="78" height="1" alt=""></td>
		<td>
			<img src="https://www.compbet.com/images/newsletters/spacer.gif" width="160" height="1" alt=""></td>
		<td>
			<img src="https://www.compbet.com/images/newsletters/spacer.gif" width="108" height="1" alt=""></td>
		<td>
			<img src="https://www.compbet.com/images/newsletters/spacer.gif" width="35" height="1" alt=""></td>
		<td>
			<img src="https://www.compbet.com/images/newsletters/spacer.gif" width="61" height="1" alt=""></td>
		<td>
			<img src="https://www.compbet.com/images/newsletters/spacer.gif" width="18" height="1" alt=""></td>
		<td>
			<img src="https://www.compbet.com/images/newsletters/spacer.gif" width="116" height="1" alt=""></td>
		<td>
			<img src="https://www.compbet.com/images/newsletters/spacer.gif" width="151" height="1" alt=""></td>
		<td>
			<img src="https://www.compbet.com/images/newsletters/spacer.gif" width="173" height="1" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>