Allow from all

RewriteEngine on
Options FollowSymLinks

RewriteRule ^(|.*/)\.svn(/.*|)$ - [F,L]

#RewriteRule siteoff.html - [L]
#RewriteRule .* /siteoff.html [R=302,L]

RewriteRule ^livezilla(/|$) - [L]

RewriteRule ^pdf/.* - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !\.(jpg|gif|png|bmp|js|css|ico)$ [NC]
RewriteRule ^(.*)$ index.php/$1

php_value open_basedir none
php_value short_open_tag On

<FilesMatch "\.(cgi|shtml|phtml|php)$">
       SSLOptions +StdEnvVars
</FilesMatch>

#AuthUserFile /var/www/kuchar23-test.vshosting.cz/bewa-core/web/www/.htpasswd
#AuthName "Restricted Area"
#AuthType Basic
#Require valid-user 
