@charset "utf-8";
body{
	background-image: url(../images/body_bg_basketball.jpg);
}
.live-score, .nav-tabs > li.active{
	background-image: url(../images/live_score_basketball.jpg) !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
	color: #cfb39c;
}
h2.contentbox, .boxheader{
	border-bottom: 1px solid #d96942;
}
#left .nav.live a.parent{
	background-color: #ad4128;
	border-top: 1px solid #d96942;
}
#left .nav.live a.parent:hover, #left .nav.live a.parent:focus{
	background-color: #943722;
}
.nav-tabs > li {
	background-color: #ad4128 !important;
}
.nav-tabs > li a{
	color: #e8c8ae !important;
}
.nav-tabs li a:hover, .nav-tabs li a:focus{
	background: #c74a2e;
}
.live-info, .match-info{
	color: #e9a87f;
}
.odds a.selected{
	background-color: #cfb39c;
}
.live-score .live-score-result .number{
	background-position: 0 -96px;
}
.live-score .live-score-result .colon{
	background-position: -30px 0;
}
.live-details .table > thead > tr > th{
	background: #9f2509;
	color: #e5c2ba !important;
}
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td,
.table > thead > tr > th, .table > thead > tr > th, .table > thead > tr > th {
	border-color: rgba(229,194,186,0.2) !important;
}
.live-details .table > thead > tr > td, .live-details .table > tbody > tr > td, .live-details .table > tfoot > tr > td,
.live-details .table > thead > tr > th, .live-details .table > thead > tr > th, .live-details .table > thead > tr > th {
	border-color: rgba(229,194,186,0.3) !important;
}
.live-details{
	border-top: 1px solid rgba(229,194,186,0.3);
}
