
.f-245 {background-image: url(../images/flags/245_United_States.svg.png);}
.f-246 {background-image: url(../images/flags/246_United_Kingdom.svg.png);}
.f-247 {background-image: url(../images/flags/247_Czech_Republic.svg.png);}
.f-248 {background-image: url(../images/flags/248_Germany.svg.png);}
.f-249 {background-image: url(../images/flags/249_Poland.svg.png);}
.f-250 {background-image: url(../images/flags/250_France.svg.png);}
.f-256 {background-image: url(../images/flags/256_Albania.svg.png);}
.f-257 {background-image: url(../images/flags/257_Armenia.svg.png);}
.f-258 {background-image: url(../images/flags/458_Turkey.svg.png);}
.f-261 {background-image: url(../images/flags/261_Argentina.svg.png);}
.f-263 {background-image: url(../images/flags/263_Austria.svg.png);}
.f-264 {background-image: url(../images/flags/264_Australia.svg.png);}
.f-267 {background-image: url(../images/flags/267_Bosnia_and_Herzegovina.svg.png);}
.f-269 {background-image: url(../images/flags/269_Bangladesh.svg.png);}
.f-270 {background-image: url(../images/flags/270_Belgium_civil.svg.png);}
.f-272 {background-image: url(../images/flags/272_Bulgaria.svg.png);}
.f-278 {background-image: url(../images/flags/278_Bolivia.svg.png);}
.f-279 {background-image: url(../images/flags/279_Brazil.svg.png);}
.f-284 {background-image: url(../images/flags/284_Belarus.svg.png);}
.f-286 {background-image: url(../images/flags/286_Canada.svg.png);}
.f-291 {background-image: url(../images/flags/291_Switzerland.svg.png);}
.f-294 {background-image: url(../images/flags/294_Chile.svg.png);}
.f-296 {background-image: url(../images/flags/296_cina.png);}
.f-297 {background-image: url(../images/flags/297_Colombia.svg.png);}
.f-302 {background-image: url(../images/flags/302_Cyprus.svg.png);}
.f-304 {background-image: url(../images/flags/304_Denmark.svg.png);}
.f-308 {background-image: url(../images/flags/308_Ecuador.svg.png);}
.f-309 {background-image: url(../images/flags/309_Estonia.svg.png);}
.f-310 {background-image: url(../images/flags/310_Egypt.svg.png);}
.f-313 {background-image: url(../images/flags/313_Spain.svg.png);}
.f-315 {background-image: url(../images/flags/315_Finland.svg.png);}
.f-331 {background-image: url(../images/flags/331_Greece.svg.png);}
.f-340 {background-image: url(../images/flags/340_Croatia.svg.png);}
.f-342 {background-image: url(../images/flags/342_Hungary.svg.png);}
.f-344 {background-image: url(../images/flags/344_Ireland.svg.png);}
.f-351 {background-image: url(../images/flags/351_Italy.svg.png);}
.f-354 {background-image: url(../images/flags/354_Japan.svg.png);}
.f-373 {background-image: url(../images/flags/373_Lithuania.svg.png);}
.f-374 {background-image: url(../images/flags/374_Luxembourg.svg.png);}
.f-375 {background-image: url(../images/flags/375_Latvia.svg.png);}
.f-378 {background-image: url(../images/flags/378_Monaco.svg.png);}
.f-395 {background-image: url(../images/flags/395_Mexico.svg.png);}
.f-396 {background-image: url(../images/flags/396_Malaysia.svg.png);}
.f-404 {background-image: url(../images/flags/404_Netherlands.svg.png);}
.f-405 {background-image: url(../images/flags/405_Norway.svg.png);}
.f-412 {background-image: url(../images/flags/412_Peru.png);}
.f-420 {background-image: url(../images/flags/420_Portugal.svg.png);}
.f-425 {background-image: url(../images/flags/425_Romania.svg.png);}
.f-426 {background-image: url(../images/flags/426_Russia.svg.png);}
.f-432 {background-image: url(../images/flags/432_Sweden.svg.png);}
.f-435 {background-image: url(../images/flags/435_Slovenia.svg.png);}
.f-437 {background-image: url(../images/flags/437_Slovakia.svg.png);}
.f-439 {background-image: url(../images/flags/439_San_Marino.svg.png);}
.f-451 {background-image: url(../images/flags/451_Thailand.svg.png);}
.f-455 {background-image: url(../images/flags/455_Tunisia.svg.png);}
.f-458 {background-image: url(../images/flags/458_Turkey.svg.png);}
.f-463 {background-image: url(../images/flags/463_Ukraine.svg.png);}
.f-468 {background-image: url(../images/flags/468_Vatican_City.svg.png);}
.f-470 {background-image: url(../images/flags/470_Venezuela.svg.png);}
.f-479 {background-image: url(../images/flags/479_Solomon_Islands.svg.png);}
.f-485 {background-image: url(../images/flags/485_Israel.svg.png);}
.f-486 {background-image: url(../images/flags/486_New_Zealand.svg.png);}
.f-487 {background-image: url(../images/flags/487_South_Korea.svg.png);}
.f-488 {background-image: url(../images/flags/488_wta.png);}
.f-489 {background-image: url(../images/flags/489_atp.png);}
.f-490 {background-image: url(../images/flags/490_challenger.png);}
.f-491 {background-image: url(../images/flags/491_daviscup.png);}
.f-492 {background-image: url(../images/flags/492_international.png);}
.f-493 {background-image: url(../images/flags/493_itf.png);}
.f-494 {background-image: url(../images/flags/494_hopman_cup.png);}
.f-495 {background-image: url(../images/flags/495_international_friendly.png);}
.f-497 {background-image: url(../images/flags/497_international_clubs.png);}
.f-498 {background-image: url(../images/flags/498_golf_pga.png);}
.f-499 {background-image: url(../images/flags/499_epga_tour.png);}
.f-500 {background-image: url(../images/flags/500_ryder_cup.png);}
.f-507 {background-image: url(../images/flags/507_rugbyleague.png);}
.f-508 {background-image: url(../images/flags/508_rugbyunion.png);}
.f-513 {background-image: url(../images/flags/513_kostarika.png);}
.f-514 {background-image: url(../images/flags/514_Iceland.svg.png);}
.f-515 {background-image: url(../images/flags/515_Uruguay.svg.png);}
.f-518 {background-image: url(../images/flags/518_europe.png);}
.f-519 {background-image: url(../images/flags/519_Qatar.svg.png);}
.f-520 {background-image: url(../images/flags/520_montecarlo.png);}
.f-521 {background-image: url(../images/flags/521_Catalonia.svg.png);}
.f-529 {background-image: url(../images/flags/529_bahrajn.png);}
.f-532 {background-image: url(../images/flags/532_Ulster_banner.svg.png);}
.f-533 {background-image: url(../images/flags/533_Scotland.svg.png);}
.f-534 {background-image: url(../images/flags/534_wales.png);}
.f-536 {background-image: url(../images/flags/536_England.svg.png);}
.f-537 {background-image: url(../images/flags/537_fedcup.png);}
.f-571 {background-image: url(../images/flags/571_Singapore.svg.png);}
.f-572 {background-image: url(../images/flags/572_south-africa.png);}
.f-573 {background-image: url(../images/flags/573_Faroe_Islands.svg.png);}
.f-575 {background-image: url(../images/flags/575_Paraguay.svg.png);}
.f-576 {background-image: url(../images/flags/576_Montenegro.svg.png);}
.f-577 {background-image: url(../images/flags/577_indie.png);}
.f-580 {background-image: url(../images/flags/580_international_euro.png);}
.f-582 {background-image: url(../images/flags/582_jemen.png);}
.f-583 {background-image: url(../images/flags/583_vietnam.png);}
.f-585 {background-image: url(../images/flags/585_oman.png);}
.f-586 {background-image: url(../images/flags/586_kuvajt.png);}
.f-587 {background-image: url(../images/flags/587_jordansko.png);}
.f-588 {background-image: url(../images/flags/588_jamajka.png);}
.f-589 {background-image: url(../images/flags/589_irak.png);}
.f-590 {background-image: url(../images/flags/590_iran.png);}
.f-591 {background-image: url(../images/flags/591_srbsko.png);}
.f-592 {background-image: url(../images/flags/592_moldavsko.png);}
.f-593 {background-image: url(../images/flags/593_makedonie.png);}
.f-594 {background-image: url(../images/flags/594_indonesie.png);}
.f-595 {background-image: url(../images/flags/595_guatemala.png);}
.f-596 {background-image: url(../images/flags/596_salvador.png);}
.f-597 {background-image: url(../images/flags/597_kamerun.png);}
.f-598 {background-image: url(../images/flags/598_alzirsko.png);}
.f-600 {background-image: url(../images/flags/600_saud_arabie.png);}
.f-601 {background-image: url(../images/flags/601_sp_arab_emiraty.png);}
.f-603 {background-image: url(../images/flags/603_maroko.png);}
.f-604 {background-image: url(../images/flags/604_malta.png);}
.f-605 {background-image: url(../images/flags/605_hongkong.png);}
.f-606 {background-image: url(../images/flags/606_honduras.png);}
.f-607 {background-image: url(../images/flags/607_gruzie.png);}
.f-608 {background-image: url(../images/flags/608_azerbajdzan.png);}
.f-609 {background-image: url(../images/flags/609_panama.png);}
.f-610 {background-image: url(../images/flags/610_kazachstan.png);}
.f-611 {background-image: url(../images/flags/611_uzbekistan.png);}
.f-631 {background-image: url(../images/flags/631_pakistan.png);}
.f-633 {background-image: url(../images/ico/snowflag.png);}

#t1001 {background-image: url(../images/ico/fotbal.png);}
#t1003 {background-image: url(../images/ico/tenis.png);}
#t1006 {background-image: url(../images/ico/basket.png);}
#t1011 {background-image: url(../images/ico/hokej.png);}
#t1012 {background-image: url(../images/ico/fun.png);}
#t1013 {background-image: url(../images/ico/volejbal.png);}
#t1014 {background-image: url(../images/ico/sipky.png);}
#t1015 {background-image: url(../images/ico/rugby.png);}
#t1016 {background-image: url(../images/ico/pingpong.png);}
#t1017 {background-image: url(../images/ico/race.png);}
#t1018 {background-image: url(../images/ico/lyzovani2.png);}
#t1019 {background-image: url(../images/ico/kulecnik.png);}
#t1020 {background-image: url(../images/ico/hazena.png);}
#t1021 {background-image: url(../images/ico/politika.png);}
#t1022 {background-image: url(../images/ico/hokejka_1.png);}
#t1023 {background-image: url(../images/ico/fotbal.png);}
#t1024 {background-image: url(../images/ico/box.png);}
#t1025 {background-image: url(../images/ico/softball.png);}
#t1026 {background-image: url(../images/ico/americkyfotbal.png);}
#t1027 {background-image: url(../images/ico/kolo.png);}
#t1028 {background-image: url(../images/ico/golf.png);}
#t1029 {background-image: url(../images/ico/F1.png);}
#t1030 {background-image: url(../images/ico/bike_1.png);}
#t1031 {background-image: url(../images/ico/spec_saz.png);}
#t1032 {background-image: url(../images/ico/polo.png);}
#t1033 {background-image: url(../images/ico/skoky.png);}
#t1034 {background-image: url(../images/ico/biatlon.png);}
#t1035 {background-image: url(../images/ico/futsal.png);}
#t1036 {background-image: url(../images/ico/olympiada.png);}
#t1037 {background-image: url(../images/ico/curling.png);}
#t1038 {background-image: url(../images/ico/plochadraha.png);}
#t1039 {background-image: url(../images/ico/cricket.png);}
#t1040 {background-image: url(../images/ico/volejbal.png);}
#t1041 {background-image: url(../images/ico/plavani.png);}
#t1042 {background-image: url(../images/ico/atletika.png);}
#t1043 {background-image: url(../images/ico/pozhokej.png);}
#t1044 {background-image: url(../images/ico/plazovyfotbal.png);}
#t1045 {background-image: url(../images/ico/klaslyzovani.png);}
#t1046 {background-image: url(../images/ico/cyklokros.png);}
#t1047 {background-image: url(../images/ico/bandy.png);}
#t1048 {background-image: url(../images/ico/bowls.png);}
#t1051 {background-image: url(../images/ico/hokejbal.png);}
#t1052 {background-image: url(../images/ico/sachy.png);}
#t1055 {background-image: url(../images/ico/pesapallo.png);}
#t1056 {background-image: url(../images/ico/supertip.png);}
#t1060 {background-image: url(../images/ico/duely.png);}
#t1061 {background-image: url(../images/ico/aussie.png);}
#t1062 {background-image: url(../images/ico/ups.png);}
#t1063 {background-image: url(../images/ico/veslo.png);}
#t1054 {background-image: url(../images/ico/inline.png);}
#t1064 {background-image: url(../images/ico/snowflag.png);}

.s-1001, .ls-fotbal {background-image: url(../images/ico/fotbal.png);}
.s-1003, .ls-tenis {background-image: url(../images/ico/tenis.png);}
.s-1006, .ls-basketbal {background-image: url(../images/ico/basket.png);}
.s-1011, .ls-ledni-hokej {background-image: url(../images/ico/hokej.png);}
.s-1012, .ls-zabava {background-image: url(../images/ico/fun.png);}
.s-1013, .ls-volejbal {background-image: url(../images/ico/volejbal.png);}
.s-1014, .ls-sipky {background-image: url(../images/ico/sipky.png);}
.s-1015, .ls-rugby {background-image: url(../images/ico/rugby.png);}
.s-1016, .ls-stolni-tenis {background-image: url(../images/ico/pingpong.png);}
.s-1017, .ls-ralley {background-image: url(../images/ico/race.png);}
.s-1018, .ls-lyzovani {background-image: url(../images/ico/lyzovani2.png);}
.s-1019, .ls-snooker {background-image: url(../images/ico/kulecnik.png);}
.s-1020, .ls-hazena {background-image: url(../images/ico/hazena.png);}
.s-1021, .ls-politika {background-image: url(../images/ico/politika.png);}
.s-1022, .ls-florbal {background-image: url(../images/ico/hokejka_1.png);}
.s-1023, .ls-kone {background-image: url(../images/ico/fotbal.png);}
.s-1024, .ls-box {background-image: url(../images/ico/box.png);}
.s-1025, .ls-basebal {background-image: url(../images/ico/softball.png);}
.s-1026, .ls-americky-fotbal {background-image: url(../images/ico/americkyfotbal.png);}
.s-1027, .ls-cyklista {background-image: url(../images/ico/kolo.png);}
.s-1028, .ls-golf {background-image: url(../images/ico/golf.png);}
.s-1029, .ls-formlule-1 {background-image: url(../images/ico/F1.png);}
.s-1030, .ls-motocykly {background-image: url(../images/ico/bike_1.png);}
.s-1031, .ls-specialni-sazky {background-image: url(../images/ico/spec_saz.png);}
.s-1032, .ls-vodni-polo{background-image: url(../images/ico/polo.png);}
.s-1033, .ls-skoky-na-lyzich {background-image: url(../images/ico/skoky.png);}
.s-1034, .ls-biatlon {background-image: url(../images/ico/biatlon.png);}
.s-1035, .ls-futsal {background-image: url(../images/ico/futsal.png);}
.s-1036, .ls-olympijske-hry {background-image: url(../images/ico/olympiada.png);}
.s-1037, .ls-curling  {background-image: url(../images/ico/curling.png);}
.s-1038, .ls-plocha-draha {background-image: url(../images/ico/plochadraha.png);}
.s-1039, .ls-kriket {background-image: url(../images/ico/cricket.png);}
.s-1040, .ls-plazovy-volejbal {background-image: url(../images/ico/volejbal.png);}
.s-1041, .ls-plavani {background-image: url(../images/ico/plavani.png);}
.s-1042, .ls-atletika {background-image: url(../images/ico/atletika.png);}
.s-1043, .ls-pozemni-hokej {background-image: url(../images/ico/pozhokej.png);}
.s-1044, .ls-plazovy-fotbal {background-image: url(../images/ico/plazovyfotbal.png);}
.s-1045, .ls-klas-lyzovani {background-image: url(../images/ico/klaslyzovani.png);}
.s-1046, .ls-cyklokros {background-image: url(../images/ico/cyklokros.png);}
.s-1047, .ls-bandy {background-image: url(../images/ico/bandy.png);}
.s-1048, .ls-bowls {background-image: url(../images/ico/bowls.png);}
.s-1051, .ls-hokejbal {background-image: url(../images/ico/hokejbal.png);}
.s-1052, .ls-sachy {background-image: url(../images/ico/sachy.png);}
.s-1055, .ls-pesapallo {background-image: url(../images/ico/pesapallo.png);}
.s-1056, .ls-supertip {background-image: url(../images/ico/supertip.png);}
.s-1060, .ls-duely {background-image: url(../images/ico/duely.png);}
.s-1061, .ls-aussie-rules {background-image: url(../images/ico/aussie.png);}
.s-1062, .ls-bojovesporty {background-image: url(../images/ico/ups.png);}
.s-1063, .ls-veslovani {background-image: url(../images/ico/veslo.png);}
.s-1054, .ls-inline {background-image: url(../images/ico/inline.png);}
.s-1064, .ls-zimni-olympijske-hry {background-image: url(../images/ico/snowflag.png);}\